data/
data

output/
processed_data/
*.parquet
*.pkl
*.npy

*.pth
*.pt

results/
*.json
*.png

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
ehthumbs.db
*.swp
src/unit_test.ipynb